<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
</head>
<body {% if template == 'page.contact' %}class="contact-page"{% endif %}>
  {% sections 'header-group' %}
  {{ content_for_layout }}
  {% sections 'footer-group' %}
</body>
</html>