<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
    {% comment %} {{ content_for_header }} {% endcomment %}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
</head>
<body>
  {% section 'header' %}
  {{ content_for_layout }}
</body>
</html>